<script src="../../../assets/javascripts/movement.js"></script>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/">Excelsis</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>    
                            <%= link_to 'App',  about_path %>
                        </li>
                                                <li>
                            <%= link_to 'About',  "#about" %>
                        </li>
                        <li>    
                            <%= link_to 'Team',  "#team" %>
                        </li>
                        <li>    
                            <%= link_to 'Contact',  "#contact" %>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                                <li><%= link_to 'Login',  '#' %></li>
                    </ul>
                </div>
        </div>
    </div>
</div>

<div class="jumbotron masthead">
	<div class="container">
    <h1>Welcome to Excelsis! </h1>
    <p> You've found the home page for the
     <%= link_to "Excelsis", "http://linkedin.com/in/carloscheung" %>
     	application
     </p>

    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
	</div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />

<a class='learn-more-button button-second-page' href='#'></a>
<div>To Learn more!</div>

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />


<div id="about"><h1>Lorem Ipsum Dolor Sit Amet Consectetan Adisping Elit Cras<h1></div>

      <div class="row">
        <div class="span4">
          <span class="img-circle"> <%= image_tag("keepcalm.png", :alt => "keepcalm") %>  </span>
          <h2>--Lean--</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <span class="img-circle"> <%= image_tag("keepcalm.png", :alt => "keepcalm") %>  </span>
          <h2>--Tone--</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <span class="img-circle"> <%= image_tag("keepcalm.png", :alt => "keepcalm") %>  </span>
          <h2>--Strength--</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->




<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />


<div id="team"><h1>TEAM: Lorem Ipsum Dolor Sit Amet Consectetan Adisping Elit Cras<h1></div>




<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />


<div id="contact"><h1>CONTACT: Lorem Ipsum Dolor Sit Amet Consectetan Adisping Elit Cras<h1></div>

<div class="footer">
  <small>
    <%= link_to "Excelsis", "http://linkedin.com/in/carloscheung" %>
    by <%= link_to "Carlos Cheung", "http://carloscheung.com" %>
  </small>
</div>



